/* Layout Base */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f0f2f5;
    gap: 15px;
    font-family: sans-serif;
}

#stato, #barra_attivita {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Proporzioni: Stato più grande dell'attività */
#stato { flex: 2; }
#barra_attivita { flex: 1; gap: 10px; }

/* Gestione Modalità: la classe hidden nasconde gli elementi */
.hidden {
    display: none !important;
}

/* Styling Elementi di Simulazione */
#controlli {
    display: flex;
    width: 100%;
    gap: 10px;
    flex: 1;
}

#controlli button {
    flex: 1;
    border-radius: 15px;
    border: none;
    background: #e74c3c;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

#action {
    flex: 3;
    width: 100%;
    background-color: #2ecc71;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
}

/* Styling Elementi Manuali */
#startsim {
    width: 100%;
    height: 100%;
    display: flex;
}

#startsim button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#startsim button:hover { background-color: #2980b9; }